/*个人信息按钮圆角*/
#card-info-btn {
    border-radius: 7px;
    overflow: hidden;
  }
/*版权卡片*/
#post .post-copyright {
    position: relative;
    margin: 2rem 0 0.5rem;
    padding: 1.5rem 0.8rem;
    border: 8px solid var(--HiPeach-copyright-border); /*卡片边框*/
    border-radius: 20px; /*边框圆角*/
    }
    #post .post-copyright:before {
    position: absolute;
    top: -1.9rem; /*C位置*/
    color: #49b1f540; /*C颜色*/
    font-size: 6rem; /*C大小*/
    }
/*图片圆角*/
#article-container img {
    border-radius: 15px;
  }
/*首页文章圆角*/
.layout > .recent-posts > .recent-post-item {
    border-radius: 20px !important
}
/*文章卡片圆角*/
.layout > div:first-child:not(.recent-posts) {
    border-radius: 35px;
  }
/*页码按钮美化*/
.layout>.recent-posts .pagination> {
    display: inline-block;
    margin: 0 6px;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
  }
  
  /*页码按钮圆角*/
  #pagination .page-number.current {
      border-radius: 7px;
  }
/* 头图透明 */
#page-header{
    background: transparent!important;
  }
  
  /*头图黑色透明玻璃效果移除 */
  #page-header.post-bg:before {
    background-color: transparent!important;
  }
  
  /*伪类遮罩层透明*/
  #page-header::before{
    background: transparent!important;
  }
/* 代码块文字居中 */
#article-container figure.highlight .highlight-tools .code-lang {
    left: 50%!important;
    transform: translateX(-50%);
  }
/*选中文字颜色*/
*::selection {
    background: rgba(90,135,255);
    color: #ffffff;
  }
/*个人信息美化*/
#aside-content>.card-widget.card-info {
    background: #fff url(/media/info.webp) top 18% center no-repeat;
    position: relative;
  }
  #aside-content .card-info .site-data {
    display: none;
  }
  #aside-content .card-info .author-info__name {
    font-weight: 700;
    color: black;
  }
  #aside-content .card-info .author-info__description {
    font-weight: 600;
    color: black;
  }
  .site-data > a .headline {
    color: rgb(0 0 0 / 100%);
  }
/* 滚动条 */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #6f42c1;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-track {
    background-image: url(/media/scrollbar.webp);
  }
